.art-main {
    background: rgb(204,204,204);
    background: linear-gradient(90deg, rgba(204,204,204,1) 0%, rgba(218,218,218,1) 50%, rgba(204,204,204,1) 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px dashed #003899;
    box-sizing: border-box;
}

.art-main__wrapper {
    position: absolute;
    top: 14vh;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vh;
    box-sizing: border-box;
}

.art-main__container {
    display: flex;
    flex-direction: row;
    width: 70vw;
    height: 70vh;
    box-sizing: border-box;
}

.art-main__heading {
    align-self: end;
    font-family: "Jacquarda Bastarada 9", Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
    color: #003899;
    margin: 0;
    padding-top: 8px;
}

@media screen and (max-width: 724px) {
    .art-main {
        border: 2px dashed #003899;
    }

    .art-main__wrapper {
        position: static;
        width: 100vw;
        height: 100%;
    }

    .art-main__container {
        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    .art-main__heading {
        position: absolute;
        top: 0vh;
        font-size: 32px;
        padding-right: 2vh;
    }
}