.art-nav {
    padding: 0 2vw;
    border: 4px dashed #003899;
    display: flex;
    align-items: center;
    height: 70vh;
    box-sizing: border-box;
    width: 20vw;
}

.art-nav__items {
    padding: 0;
}

.art-nav__item {
    list-style: none;
    font-family: "Rainy Hearts", Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
    color: #003899;
    padding-bottom: 8px;
}