.art-nav {
    padding: 0 2vw;
    border: 4px dashed #003899;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    box-sizing: border-box;
    width: 20vw;
    row-gap: 4vh;
}

.art-nav__items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    row-gap: 3vh;
}

.art-nav__item {
    list-style: none;
    font-family: "Rainy Hearts", Arial, Helvetica, sans-serif;
    font-size: 40px;
    letter-spacing: -1px;
    color: #003899;
    padding-left: 1vw;
}

.art-nav__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

.art-nav__social-icon-peggy {
    background-image: url(../images/icons/blue-peggy-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}

.art-nav__social-icon-ig {
    background-image: url(../images/icons/blue-instagram-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}