.comm-nav {
    padding: 0 3vw 3vh 3vw;
    border: 2px solid  rgb(0, 41, 47, .4);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 40%;
    background-color: rgb(0, 0, 0, .5);
    border-radius: 10px 0 0 10px;
    row-gap: 4vh;
}

.comm-nav__items {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    row-gap: 3vh;
}

.comm-nav__item:hover {
    color: red;
    transition: color .3s ease-in;
}

.comm-nav__item {
    list-style: none;
    font-family: "Jura", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(206, 206, 206);
    padding-left: 1vw;
}

.comm-nav__social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

.comm-nav__social-link-linkedin {
    background: url(../images/icons/red-linkedin-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}

.comm-nav__social-icon-linkedin {
    width: 23px;
    height: 23px;
}

.comm-nav__social-icon-linkedin:hover {
    opacity: 0;
    transition: opacity .3s ease-in;
}

.comm-nav__social-link-ig {
    background-image: url(../images/icons/red-instagram-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
}

.comm-nav__social-icon-ig {
    width: 23px;
    height: 23px;
}

.comm-nav__social-icon-ig:hover {
    opacity: 0;
    transition: opacity .3s ease-in;
}