.comm-content {
    height: 60vh;
    width: 60vw;
    box-sizing: border-box;
}

.comm-content__image {
    box-sizing: border-box;
    border-top: 2px solid rgb(0, 41, 47, .6);
    border-right: 2px solid rgb(0, 41, 47, .6);
    border-bottom: 2px solid rgb(0, 41, 47, .6);
    width: 100%;
    height: 100%;
    overflow: auto;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}