.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3vh;
}

.menu__star-1 {
  position: absolute;
  top: 30vh;
  aspect-ratio: 1;
  z-index: 1;
  width: 550px;
  clip-path: polygon(97.3% 66.2%,63.2% 76.94%,33.8% 97.3%,23.06% 63.2%,2.7% 33.8%,36.8% 23.06%,66.2% 2.7%,76.94% 36.8%);
}

.menu__star-2 {
  position: absolute;
  top: 30vh;
  aspect-ratio: 1;
  z-index: 2;
  width: 600px;
  clip-path: polygon(75.45% 93.04%,45.03% 69.37%,6.96% 75.45%,30.63% 45.03%,24.55% 6.96%,54.97% 30.63%,93.04% 24.55%,69.37% 54.97%);
}

.menu__title {
  z-index: 3;
  font-family: "Jacquarda Bastarada 9", Arial, Helvetica, sans-serif;
  font-size: 80px;
  letter-spacing: -5px;
  color: #003899;
  margin: 0;
}

.menu__capital {
  font-family: "Fraktur Shadowed", Arial, Helvetica, sans-serif;
  font-size: 100px;
}

.menu__nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}

.menu__item {
  list-style-type: none;
  z-index: 3;
  text-align: center;
  width: 200px;
  padding: 13px 4px;
  border: outset;
  border-color: #003899;
  border-radius: 3px;
}

.menu__item:hover {
  transition: all .9s ease-out;
  background-color: rgba(0, 56, 153, .9);
}

.menu__item:active {
  border: inset;
}

.menu__link {
  font-family: "Retro Computer", Arial, Helvetica, sans-serif;
  color: rgb(0, 56, 153);
  text-decoration: none;
  font-size: 20px;
}

.menu__link:hover {
  color: #fff;
  transition: all .6s ease-in-out;
}